#edit_person.modal.fade{ role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ 'data-dismiss' => 'modal'} &times;
        %h4.modal-title Edit Person
      .modal-body
        = form_for @person, html: { class: 'form-horizontal', id: 'edit_person_form' } do |f|
          .form-group
            = f.label :first_name, 'First Name', class: 'control-label col-sm-3'
            .col-sm-9
              = f.text_field :first_name, value: @person.first_name, class: 'form-control'
          .form-group
            = f.label :last_name, 'Last Name', class: 'control-label col-sm-3'
            .col-sm-9
              = f.text_field :last_name, value: @person.last_name, class: 'form-control'
          .form-group
            = f.label :organization_id, 'Organization', class: 'control-label col-sm-3'
            .col-sm-9
              = f.select :organization_id, Organization.all.map{|o| [o.title, o.id]}, {}, { class: 'form-control' }
          .form-group
            .col-sm-offset-3.col-sm-9
              %button.btn.btn-default{type: 'submit'} Update

