%h1
  Persons
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= 'ID'
      %th= sort_link(@q, :first_name, 'first_name')
      %th= sort_link(@q, :last_name, 'last_name')
      %th= 'organization_id'
      %th= 'assessement_count'
  %tbody
    = render partial: "person", collection: @persons
