%h1
  Persons
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= 'ID'
      %th= 'first_name'
      %th= 'last_name'
      %th= 'organization_id'
      %th= 'assessement_count'
  %tbody
    = render partial: "person", collection: @persons
