%h1 Personal details
%table.table-bordered.table-condensed
  %tr
    %th= 'First Name'
    %td= @person.first_name
  %tr
    %th= 'Last Name'
    %td= @person.last_name
  %tr
    %th= 'Organization'
    %td= @person.organization.title
  %tr
    %th= 'Location'
    %td= @person.organization.location

= link_to 'Edit data', '#edit_person', 'data-toggle' => 'modal', :class => 'btn'
-#%button.btn.btn-link{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '#edit_person' } Edit data
= render 'persons/edit_person'




